/* 页面 */
.body {
    margin: 0 auto;
    /** 居中 */
    height: 361px;
    width: 640px;
}
/*! 少用定位 */
/* 容器 */
.container {
    background-color: white;
    height: 327px;
    width: 600px;
    position: relative;
    /*? margin: 14.5px 17.5px 14.5px 17.5px; */
    border-radius: 10px;
    border: 3px solid rgb(151, 196, 212);
    box-shadow: 0px 0px 20px 5px rgba(108, 213, 234, 0.99);
}
/* 头部 */
.header {
    height: 61px;
    width: 600px;
    position: absolute;
    top: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}
.welcome {
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
} 
.welcome h1 {
    font-size: 20px;
    font-weight: 500;
}
.iconfont {
    margin: 20px;
}
a {
    text-decoration: none;
}
/* 栏目 */
.column{
    background-color: rgba(180, 233, 241, 0.247);
    border-radius: 10px;
    height: 30px;
    width: 500px;
    position: absolute;
    top: 61px;
    left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
ul.column li {
    display: inline;
}
ul.column li a {
    color: black;
    padding: 4px 10px;
    text-decoration: none;
}
ul.column li a.active {
    background-color: white;
    color: skyblue;
}
ul.column li a:hover:not(.active) {
    background-color: #fff;
    color: skyblue;
}
/* 收件箱 */
.receive {
    height: 30px;
    width: 560px;
    position: absolute;
    top: 131px;
    left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.receive h1 {
    font-size: 20px;
    font-weight: 500;
}
.receive span {
    margin: 0;
}
button {
    background-color: #fff;
    border-color: #fff;
}
button:hover {
    /* ?一个就够了 */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/* 邮件 */
.content {
    height: 140px;
    width: 560px;
    position: absolute;
    top: 160px;
    left: 20px;
    display: flex;
    justify-items: center;
}

.list {
    height: 100px;
    width: 60px;
    position: absolute;
    top: -16px;
    left: -20px;
}
.list li {
    transition: all 0.5s;
    cursor: pointer;
}
.list li a {
    background-color: skyblue;
    border-radius: 5px;
}
.list li span {
    position: relative;
    cursor: pointer;
}
/* *三角形 */
.list li span:after {
    content : '';
    width: 0;
    height: 0;
    color: skyblue;
    position: absolute;
    border-style: solid;
    border-width: 8px 0 8px 5px;
    border-color: transparent transparent transparent #8ecdeb;
    opacity: 0;
    transition: 0.5s;
    top: 50%;
    right: -24px;
    transform: translateY(-50%);
}
.list li:hover  span:after{
    opacity: 1;
}
.list li .active {
    background-color: rgb(187, 231, 249);
} 
.list li a:hover:not(.active) {
    background-color: skyblue;
}

.email {
    position: absolute;
    top: 0;
    left: 90px;
    height: 140px;
    width: 415px;
    overflow: scroll;
}
/* *更好看 */
::-webkit-scrollbar {
    width: 0;
}
.p {
    background-image: linear-gradient(to right, rgba(123, 213, 249, 0.756), #fff);
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    margin: 5px;
    display:flex;
    align-items: center;
    height: 40px;
}
.p .iconfont {
    font-size: 25px;
}
.p span {
    font-size: 10px;
    color: slategray;
    margin: 0 20px;
    white-space: nowrap;
}
.p a {
    color: black;
    font-size: 10px;
    margin: 0 20px;
    white-space: nowrap;
}

.write {
    background-color: rgba(181, 248, 228, 0.808);
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-radius: 10px;
}
/* 底部 */
/*?逆天 */
.footer {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}